{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'test.css' %}">
</head>

<body>

    <div class="main">

        <div class="menu_div">
            <h1>MENU</h1>
        </div>

        {% block green_oval %}
        {% endblock %}

        <div class="menu_name">Sendviches</div>

        {% block body %}
        {% endblock %}


        <div class="page-top">
            <div class="total">Total: 2000֏</div>
                <a href="#"><div class="basket"></a>
                <center><img src="{% static 'icons/basket.png' %}" alt="basket" style="margin-top: 11px;"></center>
            </div>
        </div>


    </div>

</body>

</html>