{% extends 'base.html' %}
{% load static %}

{% block green_oval %}
<div class="global_menu">
    <a href="{% url 'sandwiches' %}"><div class="oval_white">
        <div class="circle">
            <img src="{% static 'icons/Sandwiches.png' %}" alt="Sandwiches" class="circle_icon">
        </div>
        <h2>Sandwiches</h2>
    </a>
    </div>
    <a href="{% url 'salads' %}"><div class="oval_white">
        <div class="circle">
            <img src="{% static 'icons/Salads.png' %}" alt="Sandwiches" class="circle_icon">
        </div>
        <h2>Salads</h2>
    </a>
    </div>
    <a href="{% url 'snacks' %}"><div class="oval_white">
        <div class="circle">
            <img src="{% static 'icons/Snacks.png' %}" alt="Sandwiches" class="circle_icon">
        </div>
        <h2>Snacks</h2>
    </a>
    </div>
    <a href="{% url 'drinks' %}"><div class="oval_green">
        <div class="circle">
            <img src="{% static 'icons/Drinks.png' %}" alt="Sandwiches" class="circle_icon">
        </div>
        <h2>Drinks</h2>
    </a>
    </div>
    <a href="{% url 'sweets' %}"><div class="oval_white">
        <div class="circle">
            <img src="{% static 'icons/Sweets.png' %}" alt="Sandwiches" class="circle_icon">
        </div>
        <h2>Sweets</h2>
    </a>
    </div>
</div>

{% endblock %}

{% block body %}
        <div class="menu">
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/cola.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/cola.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/cola.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/pepsi.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/pepsi.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/pepsi.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/fanta.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/fanta.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="circle_2">
                    <img src="{% static 'icons/fanta.png' %}" alt="Sandwiches" class="sandviches_icon">
                </div>
                <div class="block-text">Sandwich</div>
                <div class="price">500֏</div>
                <a href="#">
                    <div class="plus_circle">
                        <div class="plus">+</div>
                    </div>
                </a>
                </a>
            </div>
        </div>
{% endblock %}